*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.dis{
    color: rgb(128, 128, 128) ;
}

.header{
    background-color:  rgba(128, 128, 128, 0.521);
}

.text{
    padding-left: 130px;
}

.forbody{
    margin-top: 90px;
}

button .btn:hover{
    /* background-color: brown;
    color: chartreuse; */

    border-radius: 50%;
}


.new_img{
    background-image: url(https://talentcomputeracademy.in/images/courses_background.jpg);
    width: 100%
}

.new_txt{
    opacity: 0.7;
}

.footer{
    background-color: #1e2434;
    color: white;
}

.navbartool{
    position: sticky;
    top: 0%;
    z-index: 1;
    background-color: white;
}