*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header{
    background-color:  rgba(128, 128, 128, 0.521);
}

.text{
    padding-left: 130px;
}

.dis{
    color: rgb(128, 128, 128) ;
}

.cource{
    text-decoration: underline;
}

.box{
    margin-top: 100px;
}

.new_img{
    background-image: url(https://talentcomputeracademy.in/images/courses_background.jpg);
    width: 100%
}

.new_txt{
    opacity: 0.7;
}

.footer{
    background-color: #1e2434;
    color: white;
}