<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div class="container">
        <div class="row py-3">
            <div class="col-md-8">
                <div class="h1">TC<span class="text-primary">IT</span></div>
            </div>
            <!-- <div class="col-md-1 pt-3"> <a href="/" class="text-decoration-none text-dark">Home</a></div>
            <div class="col-md-1  pt-3"> About Us</div>
            <div class="col-md-1 pt-3"> <a href="cources/" class="text-decoration-none text-dark">Cources</a></div>
            <div class="col-md-1 pt-3"><a href="contact/" class="text-decoration-none text-dark">Contact</a></div> -->

            <div class="col-md-1 pt-3"> <a href="/" class="text-decoration-none text-dark">Home </a></div>
            <div class="col-md-1  pt-3"><a href="/about/" class="text-decoration-none text-dark">About Us </a></div>
            <div class="col-md-1 pt-3"> <a href="/courses/" class="text-decoration-none text-dark">Cources</a></div>
            <div class="col-md-1 pt-3"> <a href="/contact/" class="text-decoration-none text-dark">Contact</a></div>
        </div>
    </div>

    <div class="container-fluid header">
        <div class="row ">
            <div class="col-md-8 text d-flex py-1 align-item-center pt-3">
                Home > <p class="dis">new</p>
                
            </div>
        </div>
    </div>

    <div class="container para text-center">
        <h2>Welcome To TCIT</h2>
        <p>Talent Computer journey started in the year 2015. In this long time span, we have gained a tremendous experience in the field of programming and engineering. We are a team of qualified trainers with a vast experience in fields like Web Development, Web designing, Accounting Training etc. TCIT is specialized in computer-related training. The organization goes out of the way to groom the trainees into industry ready professional by enriching their knowledge in specific domains as well as with full module of soft skill training</p>
    </div>

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <div><img src="https://talentcomputeracademy.in/images/our-story.jpg" width="100%"  alt="">
                    <h5 class="pt-3">Our Story</h5>
                    <p>TCIT offers Administrative & Software Development courses based on today's hottest technologies, including PHP, Python, JAVA, .NET, Wordpress, Magento, Tally, D.T.P and many more Technologies related..</p>
                
                </div>
            </div>
            <div class="col-md-4">
                <div><img src="https://talentcomputeracademy.in/images/mission.jpg" width="100%"  alt="">
                    <h5 class="pt-3">Our Mission</h5>
                    <p>To nurture talent in vibrant minds and to provide conducive environment for faculty and students and turn them in to dynamic & result oriented professionals of global stature.</p>
                
                </div>
            </div>

            <div class="col-md-4">
                <div><img src="https://talentcomputeracademy.in/images/vision.jpg"  width="100%" alt="">
                    <h5 class="pt-3">Our Vision</h5>
                    <p>To be widely recognized as one of the best and most innovative center of relevant and high quality Information Technology and Business programs.</p>
                
                </div>
            </div>
        </div>
        
    </div>

    <div class="container-fluid">
        <div class="bg">
            <div class="container text-center">
                <h3 class="whytxt">Why Choose Us</h3>
            </div>

            <div class="row m-5">
                <div class="col-md-6">
                    <div class="card pt-2 my-3">
                        <div class="card-head ps-3 py-1"><h5>  >  ISO 9001-2015 Certified Institute. </h5></div>
                    </div>
                    <div class="card pt-2 my-3 ">
                        <div class="card-head ps-3 py-1"><h5>  >  You’re learning from the best. </h5></div>
                    </div>

                    <div class="card pt-2 my-3 ">
                        <div class="card-head ps-3 py-1"><h5>  >  Practical Learning Environment. </h5></div>
                    </div>

                    <div class="card pt-2 my-3 ">
                        <div class="card-head ps-3 py-1"><h5>  >  Post Training Support </h5></div>
                    </div>

                    <div class="card pt-2 my-3 ">
                        <div class="card-head ps-3 py-1"><h5>  >  Experience Faculty </h5></div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="pt-4 "><img src="https://talentcomputeracademy.in/images/tcit_2.jpg"  width="100%"  alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="new_img">
        <div class="container-fluid footer mt-5 bg- pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="h1">TC<span class="text-primary">IT</span></div>
                        <div class="pe-2">Talent Computer provides training in different language like C, C++, Python, Php, React, Angular, Web design, DBMS & other Technologies. Talent Computer Training institute offers students an innovative way to learn Technology.</div>
                    </div>

                    <div class="col-md-6 ps-4 pe-5">
                        <p class="h3">Contact Us</p>
                        <p class="pt-3">Email: tcit.ahmedabad@gmail.com</p>
                        <p class="pe-5">Phone: +(91) 9904 365 650 , +(91) 9265 283 173 </p>
                        <p class="pt-3 pe-5">Branch -1: Raj Ratan Complex, Rajendra Park Char Rasta,Nr. Kaka Bhaji Pav, Odhav, Ahmedabad - 382415></p>
                        <p class="pe-5">Branch -2: H/F 11 Sahaj Residency, Above Shreeji Batteries, Takshashila School Rd, Char Rasta, Vastral, Ahmedabad, Gujarat 382418</p>
                    </div>

                    <div class="col-md-2 ps-5">
                        <h2>Pages</h2>
                        <div class="d-flex justify-content-between"><p>Home</p> <p>Contact</p></div>
                        <!-- About &nbsp;&nbsp; Cources -->
                        <div class="d-flex justify-content-between"><p>About</p><p>Cources</p></div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</body>
</html>