<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static %} -->
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <!-- <div class="container bg-danger d-flex justify-content-between ">
        <div class="row">
           <div class="logo mx-5">
                <div class="col-sm-2">c
                    hello
                </div>
            </div>
            <div class="col-2">
                <a href="">Home</a>
            </div>
            <div class="col-2">
                <a href="">Home</a>
            </div>
            <div class="col-2">
                <a href="">Home</a>
            </div>
            <div class="col-2">
                <a href="">Home</a>
            </div>
        </div>
    </div> -->



   

    <div class="container">
        <div class="row py-3">
            <div class="col-md-8">
                <div class="h1"><a href="/" class="text-decoration-none text-dark">TC<span class="text-primary">IT</span></a></div>
            </div>
            <div class="col-md-1 pt-3"> <a href="/" class="text-decoration-none text-dark">Home </a></div>
            <div class="col-md-1  pt-3"><a href="/about/" class="text-decoration-none text-dark">About Us </a></div>
            <div class="col-md-1 pt-3"> <a href="/courses/" class="text-decoration-none text-dark">Cources</a></div>
            <div class="col-md-1 pt-3"> <a href="/contact/" class="text-decoration-none text-dark">Contact</a></div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://talentcomputeracademy.in/images/quality-website-design.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://talentcomputeracademy.in/images/webdevelopment.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://talentcomputeracademy.in/images/tcit_2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container text-center pt-5 ">
       <div class="row">
        <div class="col text-center">
           <h1> Welcome to Tcit Learning </h1>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
            <p>Talent Computer Institute of Technology is a fast growing Information Technology company that has spread its wings in the areas of Software Development, Corporate Training & Staffing to cater to the needs of varied set of clients. The company is managed by a group of professionals who have wide expertise in various areas of business.</p>
            </div>
            <div class="col-md-2"></div>

        </div>
       </div> 
    </div>

    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="https://talentcomputeracademy.in/images/icon_1.png" alt="">
                <div class="h5 mt-3">The Experts</div>
            </div>
            <div class="col-md-3">
                <img src="https://talentcomputeracademy.in/images/icon_2.png" alt="">
                <div class="h5 mt-3">The Experts</div>
            </div>
            <div class="col-md-3">
                <img src="https://talentcomputeracademy.in/images/icon_3.png" alt="">
                <div class="h5 mt-3">The Experts</div>
            </div>
            <div class="col-md-3">
                <img src="https://talentcomputeracademy.in/images/icon_4.png" alt="">
                <div class="h5 mt-3">The Experts</div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="bg">
            <div class="container pt-5">
                <div class="row">
                    <div class="col">
                        <div class="h1 text-center">Popular Courses</div>
                    </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-head">
                                <img src="https://talentcomputeracademy.in/images/computer-basic.jpg" class="w-100" alt="">
                                <div class="text ps-3">
                                    <h3 class="mt-3">Computer Basic</h3>
                                    <b>Expert</b>
                                    <p class="mt-3">Computer Basic - If you're new to computers or just want to update your skills, you've come to the right place.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-head">
                                <img src="https://talentcomputeracademy.in/images/ccc.jpg" class="w-100" alt="">
                                <div class="text ps-3">
                                    <h5 class="mt-3">CCC (Course Computer Concept)</h5>
                                    <b>Expert</b>
                                    <p class="mt-4">CCC Course (Course on Computer Concepts) As full form suggest it's one type of Computer basic course with Gujarati, Hindi typing.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-head">
                                <img src="/tally-course-TCIT.jpg" class="w-100" alt="">
                                <div class="text ps-3">
                                    <h5 class="mt-3">Tally</h5>
                                    <b>Expert</b>
                                    <p class="mt-4">Tally is basically a computer software which is widely used for accounting purposes by small and large scale It is an accounting software...</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                
                
                
                </div>

                
            <div class="row pt-4 mt-5">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://talentcomputeracademy.in/images/c-c++.png" class="w-100" alt="">
                            <div class="text ps-3">
                                <h3 class="mt-3">C and C++</h3>
                                <b>Expert</b>
                                <p class="mt-3">C, it is used when a low-level programming language is necessary. While C++ is used for graphics-heavy software such as games,photo...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://talentcomputeracademy.in/images/web-designing.jpg" class="w-100" alt="">
                            <div class="text ps-3">
                                <h5 class="mt-3">Web Design</h5>
                                <b>Expert</b>
                                <p class="mt-3">The term "web design" is normally used to describe the design process relating to the front-end (client side) design of a website including writing markup.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://talentcomputeracademy.in/images/php-mysql-red.jpeg" class="w-100" alt="">
                            <div class="text ps-3">
                                <h5 class="mt-3">Tally</h5>
                                <b>Expert</b>
                                <p class="mt-3">With PHP, you can connect to and manipulate databases. MySQL is the most popular database system used with PHP.</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

            <div class="container text-center  py-5">
                <button type="button" class="btn  btnclick btn-primary px-4">View All Cources</button>

            </div>

            <div class="container-fluid bg-primary p-5 new_txt">
                <!-- #1e2434 -->
            </div>

            <div class="new_img">
                <div class="container-fluid footer bg- pt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="h1">TC<span class="text-primary">IT</span></div>
                                <div class="pe-2">Talent Computer provides training in different language like C, C++, Python, Php, React, Angular, Web design, DBMS & other Technologies. Talent Computer Training institute offers students an innovative way to learn Technology.</div>
                            </div>

                            <div class="col-md-6 ps-4 pe-5">
                                <p class="h3">Contact Us</p>
                                <p class="pt-3">Email: tcit.ahmedabad@gmail.com</p>
                                <p class="pe-5">Phone: +(91) 9904 365 650 , +(91) 9265 283 173 </p>
                                <p class="pt-3 pe-5">Branch -1: Raj Ratan Complex, Rajendra Park Char Rasta,Nr. Kaka Bhaji Pav, Odhav, Ahmedabad - 382415></p>
                                <p class="pe-5">Branch -2: H/F 11 Sahaj Residency, Above Shreeji Batteries, Takshashila School Rd, Char Rasta, Vastral, Ahmedabad, Gujarat 382418</p>
                            </div>

                            <div class="col-md-2 ps-5">
                                <h2>Pages</h2>
                                <div class="d-flex justify-content-between"><p>Home</p> <p>Contact</p></div>
                                <!-- About &nbsp;&nbsp; Cources -->
                                <div class="d-flex justify-content-between"><p>About</p><p>Cources</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>











   


































    <!-- <div class="container p-5">
        <div class="row">
            <div class="col-3 ">
                <div class="card d-flex justify-content-center align-item-center ">
                    <div class="card-header">
                        <img src="https://talentcomputeracademy.in/images/icon_1.png"  alt="">
                        <h5>The Experts</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card d-flex justify-content-center align-item-center">
                    <div class="card-header">
                        <img src="https://talentcomputeracademy.in/images/icon_2.png" alt="">
                        <h5>Best Value for Money</h5>
                    </div>
                    </div>
            </div>
            <div class="col-3">
                <div class="card d-flex justify-content-center align-item-center">
                    <div class="card-header">
                        <img src="https://talentcomputeracademy.in/images/icon_3.png" alt="">
                        <h5>Best Courses</h5>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card d-flex justify-content-center align-item-center">
                    <div class="card-header">
                     <img src="https://talentcomputeracademy.in/images/icon_4.png"  alt="">
                     <h5>Award & Reward</h5>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="container  mt-5">

        <h3 class="text-center">Popular Courses</h3>
        <div class="d-flex justify-content-center align-item-center">
            <div class="row pt-4">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://talentcomputeracademy.in/images/computer-basic.jpg" class="w-100" alt="">
                            <h3 class="mt-3">Computer Basic</h3>
                            <b>Expert</b>
                            <p class="mt-3">Computer Basic - If you're new to computers or just want to update your skills, you've come to the right place.</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://talentcomputeracademy.in/images/ccc.jpg" class="w-100" alt="">
                            <h5 class="mt-3">CCC (Course Computer Concept)</h5>
                            <b>Expert</b>
                            <p class="mt-3">CCC Course (Course on Computer Concepts) As full form suggest it's one type of Computer basic course with Gujarati, Hindi typing.</p>
                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="/tally-course-TCIT.jpg" class="w-100" alt="">
                            <h5 class="mt-3">Tally</h5>
                            <b>Expert</b>
                            <p class="mt-3">Tally is basically a computer software which is widely used for accounting purposes by small and large scale It is an accounting software...</p>
                        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row pt-4">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://talentcomputeracademy.in/images/computer-basic.jpg" class="w-100" alt="">
                        <h3 class="mt-3">Computer Basic</h3>
                        <b>Expert</b>
                        <p class="mt-3">Computer Basic - If you're new to computers or just want to update your skills, you've come to the right place.</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://talentcomputeracademy.in/images/ccc.jpg" class="w-100" alt="">
                        <h5 class="mt-3">CCC (Course Computer Concept)</h5>
                        <b>Expert</b>
                        <p class="mt-3">CCC Course (Course on Computer Concepts) As full form suggest it's one type of Computer basic course with Gujarati, Hindi typing.</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/tally-course-TCIT.jpg" class="w-100" alt="">
                        <h5 class="mt-3">Tally</h5>
                        <b>Expert</b>
                        <p class="mt-3">Tally is basically a computer software which is widely used for accounting purposes by small and large scale It is an accounting software...</p>
                    
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
</body>
</html>
